<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="../css/sign_in.css">
  <style>

  </style>
</head>

<body>
  <div class="login-container">
    <div class="logo">
      <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Pinterest-logo.png/800px-Pinterest-logo.png" 
        alt="Logo">  -->
        <H1>LOGO</H1>
    </div>
    <h2>Log in to see more</h2>
    <form action="/sign_in" method="post">
      <div class="input-box">
        <input type="email" name="gmail" placeholder="Enter Gmail" required />
        <input type="password" name="password" placeholder="Password" required />
      </div>
      <br>
      <button class="login-btn" type="submit" name="action" value="register">Register</button>
      <button class="login-btn" type="submit" name="action" value="login">Log in</button>
    </form>

    <div class="or">OR</div>
    <div class="social-login">
      <button class="social-btn facebook-btn">Continue with Facebook</button>
      <button class="social-btn google-btn">Continue with Google</button>
      <a href="/logout" id="logout-btn"><h1>Logout</h1></a>
    </div>
    <div class="footer">
      <p>
        Forgot your password? <a href="#">Get help</a><br>
        Not on Pinterest yet? <a href="#">Sign Up</a>
      </p>
    </div>
  </div>



  <script>


    // Logout functionality
    document.getElementById('logout-btn').addEventListener('click', () => {
        localStorage.removeItem('userId');
        localStorage.removeItem('userRole');
        window.location.href = '/logout';
    });
    // // 
    // function openLoginWindow() {
    //   const loginPageUrl = 'sign_in'; // Replace with the actual URL of the login page
    //   window.open(
    //     loginPageUrl,
    //     '_blank',
    //     'width=400,height=600,top=100,left=100,resizable=no'
    //   );
    // }
  </script>
</body>

</html>